  <header id="header">
    <h1 ><a href="/">iOS Haven</a></h1>
    <nav id="nav">
      <ul>
        <li class="special">
          <a href="#menu" class="menuToggle noUnderline"><span>Menu</span></a>
          <div id="menu">
            <ul>
              <li><a href="/">
                <i class="fas fa-home icon-r"></i> Home
              </a></li>
              <li><a href="" target="_blank" class="paypalDonateTrigger">
                <i class="fab fa-paypal icon-r"></i> Donate
              </a></li>
              <li><a href="apps">
                <i class="fab fa-app-store-ios icon-r"></i> Apps
              </a></li>
              <li><a href="betas">
                <i class="fas fa-flask icon-r"></i> Betas
              </a></li>
              <li><a href="jailbreaks">
                <i class="fas fa-user-secret icon-r"></i> Jailbreaks
              </a></li>
              <li><a href="#contact">
                <i class="fas fa-bug icon-r"></i> Request/Report An App
              </a></li>
              <li><a href="https://discord.gg/mTbwMyQ" target="_blank">
                <i class="fab fa-discord icon-r"></i> Join our Discord
              </a></li>


            </ul>
          </div>
        </li>
      </ul>
    </nav>
  </header>
