<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link href="/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
  <link href="/css/project.css" rel="stylesheet">
  <link href="/css/markdown.css" rel="stylesheet">



<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=lkdjpdr5vE">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=lkdjpdr5vE">
<link rel="icon" type="image/png" sizes="194x194" href="/favicon-194x194.png?v=lkdjpdr5vE">
<link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png?v=lkdjpdr5vE">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=lkdjpdr5vE">
<link rel="manifest" href="/manifest.json?v=lkdjpdr5vE">
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=lkdjpdr5vE" color="#5bbad5">
<link rel="shortcut icon" href="/favicon.ico?v=lkdjpdr5vE">
<meta name="apple-mobile-web-app-title" content="IOS Haven">
<meta name="application-name" content="IOS Haven">
<meta name="theme-color" content="#ffffff">





  {% include 'scripts/Google-Analytics.html' %}
  {% include 'scripts/Heap.html' %}
  {% include 'scripts/PayPal.html' %}
  {% include 'scripts/Shortest.html' %}


</head>
