{% extends 'layouts.html' %} {% block body %}
<title>{{ title }}</title>

{% raw %}
<!-- Page Wrapper -->
<div id="page-wrapper">

  <!-- Main -->
  <article id="main">
    <header>
      <h2>Apps</h2>
      <p>Install and sideload apps with ease.</p>
    </header>
    <div class="container">
      <div class="row ">
        <search v-on:result="child"></search>
      </div>
      <div class="row">
        <!-- <div class="app-adverts col-md-4 " > -->
          <flexbox
                  v-for="(app, index) in searchResults"
                  key="app.key"
                  :advert="app.advert"
                  :title="app.title"
                  :image="app.image"
                  :version="app.version"
                  :desc="app.desc"
                  :dl="app.dl"
                  :signed="app.signed">
          </flexbox>

          <!-- <flexbox
                  v-for="(app, index) in searchResults"
                  v-if="index%4"
                  :advert="true">
          </flexbox> -->
        <!-- </div> -->
      </div>
    </div>
  </article>
</div>


{% endraw %} {% endblock %}
