<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/main.css">
    <script defer src="/fa/js/packs/solid.js"></script>
    <script defer src="/fa/js/fontawesome.js"></script>
    <style media="screen">

    body {
      padding: 0;
      margin: 1rem;
      overflow-y: scroll;
      padding-bottom: 5rem;
    }
    </style>
  </head>
  <body>

    <div id="app">
      <apps></apps>
    </div>



    <script src="js/js.js" charset="utf-8"></script>
  </body>
</html>
