<!DOCTYPE html>

<!--
▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇
    DO NOT PUT ANY HEADER STUFF IN THIS AREA!!
    PLEASE PUT ALL THAT CODE IN THE FOLLOWING FILE!!
    /VIEWS/INCLUDES/HEADER.HTML
▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇
-->

<!-- H E A D E R   C O D E -->
{% include 'includes/header.html' %}

<body>

  <!-- N A V I G A T I O N -->
  {% include 'includes/_navbar.html' %}


  <!-- V U E J S   I N S T A N C E -->
  <div id="app">
    <!-- M A I N   C O N T E N T -->
    {% block body %}{% endblock %}
    <contact></contact>
  </div>





  <!-- F O O T E R   C O D E -->
  {% include 'includes/footer.html' %}

  <!--
  ▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇
      DO NOT PUT ANY FOOTER STUFF IN THIS AREA!!
      PLEASE PUT ALL THAT CODE IN THE FOLLOWING FILE!!
      /VIEWS/INCLUDES/FOOTER.HTML
  ▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇
  -->

</body>

</html>
