html{
  font-size: 16px;
  font-family: sans-serif;
}
#dropper {
    border: 5px dashed black;
    border-radius: 1rem;
    display: flex;
    align-items: start;
    justify-content: start;
    font-size: 2rem;
    font-family: sans-serif;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    width: 90vw;
    height: 90vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    flex-wrap: wrap;
    background: transparent;
    z-index: 2;
    overflow: auto;
}

#blank{
  opacity: 0.3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  width: 90vw;
  height: 90vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-wrap: wrap;
  flex-direction: column;
  z-index: 1;
}


.icon {
    font-size: 8rem !important;
}
.icon:hover {
  opacity: 1 !important;
}

.small {
    font-size: 1.5rem;
}

ul {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    padding: 0;
}
ul .item {
    padding: 1rem 2rem;
    list-style: none;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    font-family: sans-serif;
    border-bottom: 1px solid #ddd;
    text-decoration: none;
    color: #444;
    display: block;
}

ul .item:last-child {
  border-color: transparent
}

ul .item:hover{
  background: #03a9f4;
  color: white;
}

/*.top{align-self: start}
.middle{align-self: center}
.bottom{align-self: end}*/

.btn {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    border: 1px solid;
    color: inherit;
    font-size: 1rem;
}

.btn svg, .btn i {
  margin-right: 0.5rem;
}
.btn-danger{
  background: #e02727;
  color: white;
}
.btn:hover{cursor: pointer;}
.btn-danger:hover {
  background: #e44646
}
